/*@font-face {
    font-family: Be Vietnam;
    src:url('/fuentes/BeVietnam-Regular.woff') format('woff');
}
*/
*{
    box-sizing: border-box;   

}
/*///////////////////////////////////////////////////////////////////*/
/*-----Configuracion inicial para movil---------*/
/*///////////////////////////////////////////////////////////////////*/

/*--------BODY-------*/
body {
    font-family: 'Be Vietnam', 'Helvetica', 'Trebuchet MS';
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    min-width: 350px;
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0%;
    gap: 4rem;
    max-width: 1440px;
}
/*-------HEADER--------*/

header {
    display: flex;
    justify-content: space-between;
    padding: 7vw;

}

/*---Se Oculta menú y botón (Get Started) en Movil---*/
.nav-header {
    display: none;
}
#button-header {
    display: none;
}

/*--Botón menú móvil--*/
.fa-solid {
    background-color: white;
    color: #232C50;
    font-size: 3rem;
}
.fa-solid:hover {
    color: #7b8096;
}

/*///-------TITULOS--------///*/
/*Lo oculto para que el nombre de la emresa sea H1*/
h1 {
    display: none;
}

li h4 {
    display: flex;

}

/*///-------Boton general--------///*/
.button-general {
    background-color: #8B48BF;
    border-radius: 3rem;
    border: 0;
    color: white;
    font-size: .8 rem;
    line-height: 2.3rem;
    padding: 0 1.5rem;
    margin: 0%;
}

/*////////////////////////////////*/
/*///---------MAIN---------///*/
/*///////////////////////////////*/
.tarjetas {
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
    padding-left: 2rem;
    margin: 0%;
    gap: 4rem;
}

/*---Gral Tarjeta 1 y 3---*/
.tarjeta {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    row-gap: 2rem; 
}

/*---Titulo Tarjeta 1 ---*/
div.tarjeta h2 {
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
    padding: 0%;
    margin: 0%;
}

h3 {
    font-size: 2.25rem;
    font-weight: bolder;
    text-align: center;
    margin: 0%;
}

/*Parrafos destacados (negrita)*/
.parrafo-destacado {
    border: 0;
    font-size: 1rem;
    font-weight: bolder;
    text-align: center;
    margin: 0%;
    padding: 0%;
}

/*Tarjeta con Porcentajes*/
.tarjeta-porcentajes {
    display: flex;
    justify-content: center;
    order: -1;

}
.porcentajes {
    max-width: 25rem;
}


/*---------Lsitas con estilos cambio viñeta-----------*/

.lista-tarjeta-4 {
    /* Se quita estilos de default */
    display: flex;
    flex-direction: column;
    list-style: none;/*Acá saca los nùmeros originales de la lista*/ 
    counter-reset: list;/* Crea el contador que se saca en la linea anterior */
  }

  .fondo-titulo {
    display: flex;
    align-items: center;
    background-color: rgba(139, 72, 191, 0.3);
    height: 2.6rem;
    flex-grow: 4;  
    padding-left: 2rem;
}

.list-item {
    display: flex;
    flex-wrap: wrap;
    counter-increment: list; /* Increment counter */
    align-items: baseline;
}
  
.list-item::before {
    content: counter(list, decimal-leading-zero);/**/
    
    /* Add a background image for the marker */
    background-color: #8B48BF ;
    
    /* Add animation */
    /*animation: 3s linear 1s infinite spin;*/

    /* Create the box and center its contents */
    font-size: 1rem;
    width: 4.3rem;
    height: 2.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50rem;
    /* Additional text styles */
    color: white;;
    margin-right: -1rem;

  }

  .parrafo-lista {
    padding: 1vh 5vw;
  }

/*----------------------------------*/


/*---Avatares------*/

.they-said {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 4rem;
    padding: 0 2rem;

}

.tarjetas-ocultar {
    flex-direction: column;
    display: none;/*al agrandar la página se cambia por "display: flex;"*/
    gap: 4rem;
}

.avatar-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-avatar > * {
    margin: 0%;
}

.contenedor-avatar {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #FAFAFA; 
}

.contenedor-avatar h4 {
    color:#3F4868;
    padding: 1rem;
}

.contenedor-avatar p {
    color:#B9B9C1;
    padding: 1rem;
}

.contenedor-avatar img {
    width: 4rem;
    margin-top: -2rem;
 
}
/*------------------------------------*/

/*--------Banner-------*/
.banner {
    background-color: #8B48BF;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 5rem;
}

.banner h2{
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}

.banner input.button-general {
    background-color: white;
    color:#8B48BF;
}
/*---------------------------*/

/*--------Footer-------*/

footer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.2rem 3rem;
    gap: 2rem;
}
/*--------Cuadro de texto con boton-------*/
form .cuadro-texto {
    border-radius: 3rem;
    line-height: 2.3rem;
    width: 19rem;
}

/*--------Nav con Lista-------*/
ul.list-footer {
    list-style: none;
    columns: 2; /*Se hace que se divina en dos*/
    column-gap: 7rem; /*Personalizo la distancia entre columnas*/
    margin: 0;
    padding: 0;

}

/*--------Iconos Logo y copyright-------*/
.iconos {
    display: flex;
    justify-content: space-around;
    gap: 4.5rem;
    font-size: 1.25rem;
}

.list-footer li {
    font-size: 1rem;
    width: 400;
    line-height: 2.5rem;
}

.copyright {
    color:#8C8C94;
    font-size: .8rem;
    font-weight: 500;
    
}
/*---------------------------*/

