/*@font-face {
    font-family: Be Vietnam;
    src:url('/fuentes/BeVietnam-Regular.woff') format('woff');
}
*/
*{
    box-sizing: border-box;
}
/*///////////////////////////////////////////////////////////////////*/
/*-----Configuracion inicial para movil---------*/
/*///////////////////////////////////////////////////////////////////*/

/*--------BODY-------*/
body {
    font-family: 'Be Vietnam', 'Helvetica', 'Trebuchet MS';
    display: flex;
    flex-direction: column;
    margin: 0;
    min-width: 350px;
    gap: 4rem;
}

a {
    text-decoration: none;
}
/*-------HEADER--------*/

header {
    display: flex;
    padding: 2rem;
    justify-content: space-between; 
}


.nav-header { /*---Se Oculta menú y botón (Get Started) en Movil---*/
    display: none;
}
header button.button-general {
    display: none;
}

/*--Botón menú móvil--*/
.fa-solid {
    background-color: white;
    color: #232C50;
    font-size: 3rem;
}
.fa-solid:hover {
    color: #7b8096;
    transform: scale(120%);
    transition: 1s;
}

.fa-solid:active {
    transform: scale(100%);
}
/*-----------------------------------*/






/*///-------TITULOS--------///*/
/*Lo oculto para que el nombre de la emresa sea H1*/
h1 {
    display: none;
}

li h4 {
    display: flex;

}

/*///-------Boton general--------///*/
.button-general {
    height: 2.5rem;
    background-color: #8B48BF;
    box-shadow: -6px 3px 5px 0px rgba(0,0,0,0.75);
    border-radius: 3rem;
    border: 0;
    color: white;
    font-size: .8 rem;
    line-height: 2.3rem;
    padding: 0 1.5rem;
    margin: 0%;
}

.button-general:hover {
    transform: scale(110%);
    transition: 1s;
    cursor: pointer;
} 

.button-general:active {
    transform: scale(90%);
    opacity:80%;
    
} 

/*////////////////////////////////*/
/*///---------MAIN---------///*/
/*///////////////////////////////*/

/*-------Main--------*/
.contenedor-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0%;
    gap:4rem;
}

.tarjetas {
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
    padding-left: 2rem;
    margin: 0%;
    gap: 4rem;
}

/*---Gral Tarjeta 1 y 3---*/
.tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    row-gap: 2rem; 
}

/*---Titulo Tarjeta 1 ---*/
div.tarjeta h2 {
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
    padding: 0%;
    margin: 0%;
}

h3 {
    font-size: 2.25rem;
    font-weight: bolder;
    text-align: center;
    margin: 0%;
}

/*Parrafos destacados (negrita)*/
.parrafo-destacado {
    border: 0;
    font-size: 1rem;
    font-weight: bolder;
    text-align: center;
    margin: 0%;
    padding: 0%;
}

/*Tarjeta con Porcentajes*/
.tarjeta-porcentajes {
    display: flex;
    justify-content: center;
    order: -1;
}
.porcentajes {
    max-width: 25rem;
}


/*---------Lsitas con estilos cambio viñeta-----------*/

.lista-tarjeta-4 {
    /* Se quita estilos de default */
    display: flex;
    flex-direction: column;
    list-style: none;/*Acá saca los nùmeros originales de la lista*/ 
    counter-reset: list;/* Crea el contador que se saca en la linea anterior */
  }

  .fondo-titulo {
    display: flex;
    align-items: center;
    background-color: rgba(139, 72, 191, 0.3);
    height: 2.6rem;
    flex-grow: 4;  
    padding-left: 2rem;
}

.list-item {
    display: flex;
    flex-wrap: wrap;
    counter-increment: list; /* Increment counter */
    align-items: baseline;
}
  
.list-item::before {
    content: counter(list, decimal-leading-zero);/*se agrega el cero ants del numero*/
    box-shadow: -6px 1px 5px 0px rgba(0,0,0,0.75);
    background-color: #8B48BF ;
    font-size: 1rem;
    width: 4.3rem;
    height: 2.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50rem;
    color: white;;
    margin-right: -1rem;

  }

  .parrafo-lista {
    padding: 1vh 5vw;
    color:#B3B2B7;
  }

/*----------------------------------*/


/*---Avatares------*/

.avatar-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 4rem;
    padding: 0 2rem;

}

div.contenedor-avatar#tarjetas-ocultar {
    flex-direction: column;
    display: none;/*al agrandar la página se cambia por "display: flex;"*/
    gap: 4rem;
}

.contenedor-avatar > * {
    margin: 0%;
}

.contenedor-avatar {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #FAFAFA; 
}

.contenedor-avatar h4 {
    color:#3F4868;
    padding: 1rem;
}


.contenedor-avatar p {
    color:#B9B9C1;
    padding: 1rem;
}

.contenedor-avatar img {
    width: 4rem;
    margin-top: -2rem;
 
}
/*------------------------------------*/

/*-------------------------------*/
/*////--------Footer-------//////*/
/*-------------------------------*/

footer {
    display: flex;
    flex-direction: column;
    align-items:stretch;
}

/*--------Banner-------*/
.banner {
    background-color: #8B48BF;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 15vw;
}

.banner h2{
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    /*animaion*/   

}


.banner button.button-general {
    background-color: white;
    color:#8B48BF;
}
/*---------------------------------*/

footer {
    background-color: black;

}

.footer-container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 2rem;
    padding: 2rem;
}

/*--------Cuadro de texto con boton-------*/


form .cuadro-texto {
    border-radius: 3rem;
    line-height: 2.3rem;
    width: 19rem;
}

/*--------Nav con Lista-------*/
ul.list-footer {
    list-style: none;
    columns: 2; /*Se hace que se divina en dos*/
    column-gap: 7rem; /*Personalizo la distancia entre columnas*/
    margin: 0;
    padding: 0;
}

ul.list-footer li a {
    color: #FFFFFF;
}

ul.list-footer li:hover {
    transform: translateX(10%);
    transition: .5s;
    cursor: pointer;
}

/*--------Iconos Logo y copyright-------*/

.iconos {
    display: flex;
    justify-content: space-around;
    gap: 4.5rem;
    font-size: 1.25rem;
}

div.iconos a img.icono:hover {
    transform: scale(150%);
    transition: 1s;
    cursor: pointer;
} 

div.iconos a img.icono:active {
    transform: scale(90%);
    opacity:80%;
    
} 

.list-footer li {
    font-size: 1rem;
    width: 400;
    line-height: 2.5rem;
}

.copyright {
    color:#8C8C94;
    font-size: .8rem;
    font-weight: 500;
    
}
/*---------------------------*/


/*///////////////////////////////////////////////////////////////////*/
/*-----Media Queries---------*/
/*///////////////////////////////////////////////////////////////////*/

@media (min-width: 850px) {

    /*-----Main---------*/
    .contenedor-main {
        align-self: center;
        /*max-width: 1200px;*/
        justify-content: space-around;
    }
    /*-----Hader---------*/
    header {
        display: flex;
        justify-content: space-around;
        padding-top: 3rem;
        padding-left: 0;
        gap: 2vw;
    }

     /*---Se Muestra menú ---*/
    .nav-header {
        display: flex;
    }

    .lista-nav-header {
        font-size: .8rem;
        display: flex;
        gap: 2vw;
        list-style: none;
    }

    .lista-nav-header li a {
        color: #242E52;
    }

    .lista-nav-header li a:hover {
        color: rgba(36, 46, 82, 0.6) ; 
        
    }

    .lista-nav-header li:hover {
        transform: scale(130%);
        transition: 1s;
    }

    .lista-nav-header li:active {
        transform: scale(100%);
    }


    /*---Se muestra botón (Get Started)---*/
    header button.button-general { 
        display: flex;
        align-items: center;
        }


    /*--Se oculta Botón menú móvil--*/
    .fa-solid {
        display: none;
    }
    .fa-solid:hover {
        display: none;
    }


    /*/////////-------Seccion (Tarjetas)--------/////////*/

    /*Contenedor de todas las tarjetas*/

    .tarjetas {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-around;
        align-content: center;
        padding: 0;
        gap:4rem;
    }
    
    /*Tarjeta de los porcentajes*/
    .tarjeta-porcentajes {
        order: 0;
        width: 35vw;
        justify-content: initial;
    }

    /*Estilos tarjetas 1 y 3*/

    .tarjeta {
        align-items: flex-start;
        width: 35vw;
        align-self: flex-start;
    }

    /*---Titulos y Parrafos Tarjeta 1 y 3 ---*/
    div.tarjeta h2, h3, .parrafo-destacado {
        text-align:left;
    }

    /*Tarjeta de la lista ordenada*/
    .tarjeta-lista-ord {
        width: 35vw;
    }

    .lista-tarjeta-4 {
        margin: 0;
        padding: 0;
    }

    .fondo-titulo {
        background-color: inherit;
    }

    .parrafo-lista {
        padding: 2rem;
        margin: 0;
    }

    /*/////////-------Seccion (Avatares)--------/////////*/

    .avatar-cards {
        padding: 0;
        gap: 4vw;
        
    }

    div.contenedor-avatar#tarjetas-ocultar {
        display: initial;/*Se vuelven a mostrar las dos cards"*/
    }

    .contenedor-de-avatares {
        display: flex;
        max-width: 1200px;
    }

    .avatar-cards h3 {
        text-align: center;
    }

    .contenedor-avatar {
        width: 30vw;
    }


    /*/////////-------Footer--------/////////*/

    footer  {
        flex-direction: row;
    }

    .footer-container {
            max-width: 850px;
            color: white;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 2rem;
        }

    /*--------Cuadro de texto con boton-------*/

    form.formulario-footer {
        order: -3;


    }

    /*--------Nav con Lista-------*/
    nav.menu-footer {
        order: -4;


    }

    /*--------Iconos Logo y copyright-------*/
    div.iconos {
        gap: 1rem;
        order: -2;
        /*padding-left: 1.2rem;*/
        
   
    }

    img.logo-footer {
        order: -5;

        
    }

    div.mensaje-copyright {
        order: -1;

        /*padding-right: 1.4rem;*/

    }

}


@media (min-width: 1440px) {


    .tarjetas {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-around;
        align-content: center;
        align-items: center;
        margin: auto;
        gap:4rem;
    }

    /*/////////-------Footer--------/////////*/

    footer  {
        flex-direction: column;
    }

    /*------BANNER---------*/

    .banner  {
        flex-direction: row;
        justify-content:space-between;
        padding: 2vh 5vw;
    }
    
    section.banner .button-general {
        align-content: center;
        margin-top: .8rem;
    }

    .banner h2 {
        /*animation*/
        animation-name: mover;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction:alternate;
        animation-timing-function: ease-out;
    }

    
    @keyframes mover {
        0% {
            transform: translateX(34vw);
        }

        100% {
            transform: translateX(0%);
        }
    }   
    

    .footer-container {
        max-width: initial;
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content:space-between;
        align-content: center;
        align-items: flex-start;
        flex-basis: 30%;
        column-gap: 9vw;
        row-gap: 0;
        padding: 2vw 6vh;
    }



    /*--------Cuadro de texto con boton-------*/
    form.formulario-footer {
        order: -3;


    }

    /*--------Nav con Lista-------*/
    nav.menu-footer {
        order: -4;


    }

    /*--------Iconos Logo y copyright-------*/
    div.iconos {
        gap: 1rem;
        order: -2;
        /*padding-left: 1.2rem;*/
        
   
    }

    img.logo-footer {
        order: -5;   
    }

    div.mensaje-copyright {
        order: -1;

    }

}
